{% if content %}
	<section {{ attributes.addclass('evenex-title')}}>
		<div class="container">
			<div class="row">
				{% if content.title|has_value %}
					<div class="evenex-title__title__inner">
						<h2 {{ region_attributes.title.addClass('evenex-title__title') }}>
							{{ content.title }}
						</h2>
					</div>
				{% endif %}

				{% if content.tag|has_value or content.subtitle|has_value %}
					<div class="row evenex-title__text">
						{% if content.tag|has_value %}
							<div class="col-lg-12">
								<div {{ region_attributes.tag.addClass('evenex-title__text__tag') }}>
									{{ content.tag }}
								</div>
							</div>
						{% endif %}

						{% if content.subtitle|has_value %}
							<div class="col-sm-9 mx-auto col-md-12">
								<h3 {{ region_attributes.subtitle.addClass('evenex-title__text__subtitle') }}>
									{{ content.subtitle }}
								</h3>
							</div>
						{% endif %}
					</div>
				{% endif %}
			</div>
			{% if content.content|has_value %}
				<div class="row">
					{% for item in content.content|array_elements(region_attributes.content.addClass('')) %}
						{{ item }}
					{% endfor %}
				</div>
			{% endif %}

		</div>
	</section>
{% endif %}
