{% if content %}
	<div {{ attributes.addClass('evenex-article-teaser')}}>
		{% if content.image|has_value %}
			<div {{ region_attributes.image.addClass('evenex-article-teaser__image') }}>
				{{ content.image }}
			</div>
		{% endif %}

		<div class="card-body">
			{% if content.title|has_value %}
				<h5 {{ region_attributes.title.addClass('evenex-article-teaser__title') }}>
					{{ content.title }}
				</h5>
			{% endif %}
			<div class="card-bottom">
				{% if content.category|has_value %}
					<div {{ region_attributes.category.addClass('evenex-article-teaser__category') }}>
						<span>
							{{ content.category }}
						</span>
					</div>
				{% endif %}
				{% if content.link|has_value %}
					<div {{ region_attributes.link.addClass('evenex-article-teaser__link') }}>
						{{ content.link }}
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
{% endif %}
