{% if content %}
	<div {{ attributes.addClass('evenex-speaker3')}}>
		{% if content.image|has_value or content.social|has_value %}
			<figure {{ region_attributes.image.addClass('evenex-speaker3__image') }}>
				{% if content.image|has_value %}
					{{ content.image }}
				{% endif %}

				{% if content.social|has_value %}
					<div {{ region_attributes.social.addClass('evenex-speaker3__social') }}>
						{% for item in content.social|array_elements(region_attributes.social.addClass('evenex-speaker3__social__link')) %}
							{{ item }}
						{% endfor %}
					</div>
				{% endif %}
			</figure>
		{% endif %}

		{% if content.name|has_value or content.job|has_value %}
			<div class="evenex-speaker3__text">
				{% if content.name|has_value %}
					<h2 {{ region_attributes.name.addClass('evenex-speaker3__text__name') }}>
						{{ content.name }}
					</h2>
				{% endif %}
				{% if content.job|has_value %}
					<div {{ region_attributes.job.addClass('evenex-speaker3__text__job') }}>
						{{ content.job }}
					</div>
				{% endif %}

			</div>
		{% endif %}

	</div>
{% endif %}
