{% if content %}
	{% if content.number|has_value %}
		{% if content.number.layout_builder_add_block %}
			{{ content.number }}
		{% else %}
			{% set number %}{{content.number|layout_value}}{% endset %}
			<div {{region_attributes.number.addClass(['count-number','number'])}} data-target="{{ number|striptags|trim }}"></div>
		{% endif %}
	{% endif %}

{% endif %}
{% if content.element|has_value %}
	<div {{ region_attributes.element.addClass('count-name') }}>
		{{ content.element }}
	</div>
{% endif %}
